[submodule "BrUtility"]
	path = BrUtility
	url = git@github.com:BlueTRaven/BrUtility.git
	branch = vimg
[submodule "MonoGame"]
	path = MonoGame
	url = git@github.com:cpt-max/MonoGame.git
[submodule "bepuphysics2"]
	path = bepuphysics2
	url = git@github.com:bepu/bepuphysics2.git
[submodule "MonoGame.ImGuiNet"]
	path = MonoGame.ImGuiNet
	url = git@github.com:BlueTRaven/MonoGame.ImGuiNet.git
[submodule "LiteNetLib"]
	path = LiteNetLib
	url = git@github.com:RevenantX/LiteNetLib.git
