[submodule "BrUtility"]
	path = BrUtility
	url = git@github.com:BlueTRaven/BrUtility.git
	branch = vimg
[submodule "MonoGame"]
	path = MonoGame
	url = git@github.com:cpt-max/MonoGame.git
[submodule "bepuphysics2"]
	path = bepuphysics2
	url = git@github.com:bepu/bepuphysics2.git
[submodule "LiteNetLib"]
	path = LiteNetLib
	url = git@github.com:RevenantX/LiteNetLib.git
[submodule "Hexa.NET.ImGui"]
	path = Hexa.NET.ImGui
	url = git@github.com:HexaEngine/Hexa.NET.ImGui.git
