[submodule "BrUtility"]
	path = BrUtility
	url = https://github.com/BlueTRaven/BrUtility.git
[submodule "MonoGame"]
	path = MonoGame
	url = git@github.com:cpt-max/MonoGame.git
[submodule "bepuphysics2"]
	path = bepuphysics2
	url = git@github.com:bepu/bepuphysics2.git
